<% @page_title = "Rassegna stampa" %>

<% if is_moderator? && params[:button] == 'preview' %>
    <h1>ANTEPRIMA</h1>

<% end %>

<h2 id="opensource">Rassegna stampa</h2>

<%= raw @static_page.content %>


<% if is_moderator? %>
    <% if params[:button] == 'preview' %>
        <hr>
        <h1>MODIFICA</h1>
        <%= render 'form' %>
    <% end %>

    <%= content_for :left_panel do %>
        <%= link_to 'Modifica', edit_press_path, class: 'btn' %>
    <% end %>
<% end %>