<html>
<head>
  <title></title>
  <%= stylesheet_link_tag "jquery-mobile.min", "codiqa.ext" %>
  <%= javascript_include_tag "jquery", "jquery-mobile.min", "codiqa.ext","mobile" %>

</head>
<body>
<div data-role="page" id="page1">
  <div data-theme="a" data-role="header">
    <a href="#" data-icon="delete">Cancel</a>
    <h1>
      <%=@page_title%>
    </h1>
    <a href="#" data-icon="check" data-theme="b">Save</a>
  </div>
  <%= yield :layout %>
</div>
</body>
</html>